@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src:
		local('Source Sans Pro Light'),
		local('SourceSansPro-Light'),
		url('Source_Sans_Pro_300.eot@') format('embedded-opentype'),
		url('Source_Sans_Pro_300.woff') format('woff'),
		url('Source_Sans_Pro_300.woff2') format('woff2'),
		url('Source_Sans_Pro_300.svg') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src:
		local('Source Sans Pro Regular'),
		local('SourceSansPro-Regular'),
		url('Source_Sans_Pro_400.eot@') format('embedded-opentype'),
		url('Source_Sans_Pro_400.woff') format('woff'),
		url('Source_Sans_Pro_400.woff2') format('woff2'),
		url('Source_Sans_Pro_400.svg') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src:
		local('Source Sans Pro Bold'),
		local('SourceSansPro-Bold'),
		url('Source_Sans_Pro_700.eot@') format('embedded-opentype'),
		url('Source_Sans_Pro_700.woff') format('woff'),
		url('Source_Sans_Pro_700.woff2') format('woff2'),
		url('Source_Sans_Pro_700.svg') format('svg');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-weight: 400;
	src:
		local('Source Sans Pro Italic'),
		local('SourceSansPro-Italic'),
		url('Source_Sans_Pro_400italic.eot@') format('embedded-opentype'),
		url('Source_Sans_Pro_400italic.woff') format('woff'),
		url('Source_Sans_Pro_400italic.woff2') format('woff2'),
		url('Source_Sans_Pro_400italic.svg') format('svg');
}
